In this Notebook we have input text file(Hungarain Corpus) with  long length for lines, what we do:
    - read this text line by line and do normlization for it and then break lines by spesfic length 
    - save results as text file (target make file like brown corpus)

In [1]:
import re
import random
import pandas as pd

#  1:  Read a File Line by Line using for loop and list comprehension
## 1.0 : Vitulize data text using Pandas befor process

In [2]:
path = '/home/ngyongyossy/mohammad/Data/Hu_corpus/MFileSiplite/data/'
fname= 'split_27.txt'
df = pd.read_fwf(f'{path}Input/{fname}', header=None)
df.rename(columns={0: "text"}, inplace=True)
# del df[1] 
# del df[2]
# del df[3]
# del df[4]
# del df[5]
# del df[6]
df.head()

,text,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
0,"Nem ismerem A BIZOTTS√ÅG m≈±k√∂d√©si rendj√©t, de g...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"M√°sfel≈ël az is lehet, hogy t√©nyleg bizotts√°gos...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Eln√©z√©st ha valami √©rz√©kenys√©get s√©rtek a vitr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Felesleges allap[szerkeszt√©s],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Nagyk√∂t≈ëjel[szerkeszt√©s],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.describe()

,text,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
count,4797513,81938,70923,59360,55721,49646,47324,46907,46663,46410,...,35647,35410,35183,34346,34049,33652,33382,33021,32788,32538
unique,3809857,80962,70213,58809,55226,49256,19078,1687,1685,46007,...,15951,15851,34998,22723,31535,22435,29340,15067,21870,26206
top,Felhaszn√°l√°si felt√©telek,.,.,.,.,.,nem,a,a,.,...,az,az,.,hogy,.,hogy,", hogy",√©s,hogy,hogy
freq,8800,175,108,89,96,59,157,1546,1548,50,...,118,133,27,95,37,91,38,120,89,54

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000001 entries, 0 to 5000000
Data columns (total 38 columns):
text    object
1       object
2       object
3       object
4       object
5       object
6       object
7       object
8       object
9       object
10      object
11      object
12      object
13      object
14      object
15      object
16      object
17      object
18      object
19      object
20      object
21      object
22      object
23      object
24      object
25      object
26      object
27      object
28      object
29      object
30      object
31      object
32      object
33      object
34      object
35      object
36      object
37      object
dtypes: object(38)
memory usage: 1.4+ GB

In [5]:
df['text'][0]

"Nem ismerem A BIZOTTS√ÅG m≈±k√∂d√©si rendj√©t, de gyan√∫m szerint a kett≈ë ugyanaz. M√°rmint el√©j√ºk tesznek egy valaki √°ltal el≈ëk√©sz√≠tett pap√≠rt ≈ëk meg felemelik a kez√ºket. Legal√°bbis a '91-es hat√°rozatban l√©v≈ë teljes k√©ptelens√©g (Orosz F.) nem utal valami alapos d√∂nt√©sel≈ëk√©sz√≠t√©sre."

In [6]:
# removing the new line characters
with open(f'{path}Input/{fname}', 'r', encoding='utf-8') as f:
    lines = [line.rstrip() for line in f]
print(lines[0]) 
# [str1,str2,....., str_n]

Nem ismerem A BIZOTTS√ÅG m≈±k√∂d√©si rendj√©t, de gyan√∫m szerint a kett≈ë ugyanaz. M√°rmint el√©j√ºk tesznek egy valaki √°ltal el≈ëk√©sz√≠tett pap√≠rt ≈ëk meg felemelik a kez√ºket. Legal√°bbis a '91-es hat√°rozatban l√©v≈ë teljes k√©ptelens√©g (Orosz F.) nem utal valami alapos d√∂nt√©sel≈ëk√©sz√≠t√©sre.

In [7]:
lines[-1]

'‚Äì A ForestVisit l√°togatotts√°gsz√°ml√°l√≥ eszk√∂z a fejleszt≈ën√©l a 06 20 984 6124-es telefonsz√°mon vagy a forestvisit.hu honlapon ismerhet≈ë meg. A telep√≠t√©st mindig megel≈ëzi egy szem√©lyes helysz√≠ni konzult√°ci√≥, ahol felm√©rj√ºk a telep√≠t√©s k√∂r√ºlm√©nyeit, √©s konzult√°lunk az adatok felhaszn√°l√°s√°val kapcsolatos ig√©nyekr≈ël. Akit √©rdekelnek a m√≥dszerben rejl≈ë lehet≈ës√©gek, az a ForestVisit DEM√ì bemutat√≥oldalon, fikt√≠v adatokkal m√°r most megn√©zheti, hogy milyen hasznos inform√°ci√≥k nyerhet≈ëk a l√°togat√°ssz√°ml√°l√≥ alkalmaz√°s√°val.'

# 1.1 : Normlization

In [8]:
def normlized_text(line):
    result1 = re.sub(r'[ ‚ñ∫ (  )  ‚Ä¢  ¬©  @  ‚Ä¶  ~  üòÄ  >  <  `  !  _ { } + * ]', ' ', line)
#     Q: url (remove word after ??!!) not matter if you remove it 
    return re.sub(r'https?://\S+', '', result1)
# str ---> str

In [9]:
words_lists = []
def sents_to_words(line):
        normlized_line = normlized_text(line)
#         print(normlized_line)
        words = normlized_line.split()
        words_lists.append(words)
#         return ()
# line: str --> words[]:list
# words_lists[words1['w1','w2',....,'w_n'],words2['w1','w2',....,'w_n'],words3['w1','w2',....,'w_n'] ....words_n['w1','w2',....,'w_n']]

In [10]:
# print(sents_to_words('Az iskolai erÿ•‚Äòszakrÿ£¬≥l https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/ nyilatkozÿ£¬≥knak csak a fele ÿ£¬©rzi, hogy gyermeke biztonsÿ£ÿågban van az iskolÿ£ÿåban.')) # ,lines[-1])
# test 
# sents_to_words(lines[-1])

In [11]:
# call fun to normlize & convert to words lists 
for line in lines:
    normlized_line = sents_to_words(line)

In [12]:
a = len(words_lists) , # see the length befor removing empty lines 
a

(5000001,)

In [13]:
# Remove empty list if exists caused by empty line e.g : [[1, 2], [1], [], [1, 2, 3, 4]] ==> [[1, 2], [1], [1, 2, 3, 4]]
words_lists = [x for x in words_lists if x]
b = len(words_lists)  # see the length after removing empty lines 
b

4797513

In [14]:
print('Removed Empty Lines : ', a[0]-b)

Removed Empty Lines :  202488

# 1.2 : Issue removing word after url if  there is no space after

In [15]:
# test normlize function with Hu
print(normlized_text('Belfÿ£¬∂ld - https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/Magyarorszÿ£ÿåg hÿ£\xadrei > Elÿ£¬©gedetlenek az emberek a kÿ£¬∂zoktatÿ£ÿåssal?'))

Belfÿ£¬∂ld -  hÿ£¬≠rei   Elÿ£ gedetlenek az emberek a kÿ£¬∂zoktatÿ£ÿåssal?

In [16]:
# test normlize function with En
print(normlized_text('https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/The Fulton County Grand Jury said Friday an investigation of Atlanta\'s recent primary election produced "no evidence" that any irregularities took place.'))

 Fulton County Grand Jury said Friday an investigation of Atlanta's recent primary election produced "no evidence" that any irregularities took place.

In [17]:
# words_lists[words1[W1,W2,....,W_n],words2 [W1,W2,....,W_n],...,words_n[W1,W2,....,W_n]]   : test one elment from word list 
for words in words_lists[0]:
    print(words)

Nem
ismerem
A
BIZOTTS√ÅG
m≈±k√∂d√©si
rendj√©t,
de
gyan√∫m
szerint
a
kett≈ë
ugyanaz.
M√°rmint
el√©j√ºk
tesznek
egy
valaki
√°ltal
el≈ëk√©sz√≠tett
pap√≠rt
≈ëk
meg
felemelik
a
kez√ºket.
Legal√°bbis
a
'91-es
hat√°rozatban
l√©v≈ë
teljes
k√©ptelens√©g
Orosz
F.
nem
utal
valami
alapos
d√∂nt√©sel≈ëk√©sz√≠t√©sre.

In [18]:
# from   [words1[W1,W2,....,W_n],words2 [W1,W2,....,W_n],...,words_n[W1,W2,....,W_n]]
# to     flat_list[W1,W2,....,W_n]

In [19]:
# Her we have one list contians all words 
# if you have limited memoey you have to find a way like sipliting to chunk (in case local machine with 8GB there is limitation only with 1 milleion )
# flat_list_chunk1 = [word for sublist in words_lists[:1000000] for word in sublist]
# flat_list_chunk2 = [word for sublist in words_lists[1000000:2000000] for word in sublist]
# flat_list_chunk3 = [word for sublist in words_lists[2000000:3000000] for word in sublist]
# flat_list_chunk4 = [word for sublist in words_lists[3000000:4000000] for word in sublist]
# flat_list_chunk5 = [word for sublist in words_lists[2000000:3000000] for word in sublist]
# CONCATENATE THEM
# flat_list = flat_list_chunk1 + flat_list_chunk2 + flat_list_chunk3 + flat_list_chunk4 +flat_list_chunk5
flat_list = [word for sublist in words_lists for word in sublist]

In [20]:
flat_list[-1]

'alkalmaz√°s√°val.'

# 2: Break a words of list into chunks of size N using List comprehension

flat_list[W1,W2,....,W_n]  -->  final[[w1,w2,...,w10 or w11],[w12,..., w20],   [...]]

In [21]:
# We choose random length for line 
n = random.randint(8, 9)
print('The length of resulting lines ',n)
# using list comprehension
# final = [flat_list[i * n:(i + 1) * n] for i in range((len(flat_list) + n - 1) // n )]
final = [flat_list[i:i + n] for i in range(0, len(flat_list), n)]     # alternative  to line above 
print (final[-2])

The length of resulting lines  8
['most', 'megn√©zheti,', 'hogy', 'milyen', 'hasznos', 'inform√°ci√≥k', 'nyerhet≈ëk', 'a']

# 2.1 : Save results to txt file

In [22]:
print('The Expacted number of liens ',len(final))
with open(f'{path}out/out_{fname}','w' ,encoding='utf-8') as file:
    for items in final:
        for item in items:        
            file.write(f"{item} ")
        file.write("\n")
file.close()

The Expacted number of liens  13157607

# 2.2 : Vitulize text file after processing

In [23]:
# path = 'out_split_1.txt'
df = pd.read_fwf(f'{path}out/out_{fname}', header=None)
df.rename(columns={0: "text"}, inplace=True)
# del df[1] 
# del df[2]
# del df[3]
# del df[4]
# del df[5]
# del df[6]
# del df[7]
# del df[8]
# del df[9]
# del df[10]
df.head()

                                                text
0  Nem ismerem A BIZOTTS√ÅG m≈±k√∂d√©si rendj√©t, de g...
1  szerint a kett≈ë ugyanaz. M√°rmint el√©j√ºk teszne...
2  valaki √°ltal el≈ëk√©sz√≠tett pap√≠rt ≈ëk meg feleme...
3  kez√ºket. Legal√°bbis a '91-es hat√°rozatban l√©v≈ë...
4  Orosz F. nem utal valami alapos d√∂nt√©sel≈ëk√©sz√≠...

In [24]:
df.describe()

                   text
count          13157607
unique         12627917
top     J E G Y Z ≈ê K √ñ
freq                490

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13157607 entries, 0 to 13157606
Data columns (total 1 columns):
text    object
dtypes: object(1)
memory usage: 100.4+ MB

In [26]:
df['text'] [0]

'Nem ismerem A BIZOTTS√ÅG m≈±k√∂d√©si rendj√©t, de gyan√∫m'

In [27]:
# with open('newnewnew.txt' ,encoding='utf-8') as f:
#     lines = [line for line in f]
# print(len(lines),'\n')
# # removing the new line characters
# with open('out_split_1.txt.txt' ,encoding='utf-8') as f:
#     lines = [line.rstrip() for line in f]
# print(lines)