In this Notebook we have input text file(Hungarain Corpus) with  long length for lines, what we do:
    - read this text line by line and do normlization for it and then break lines by spesfic length 
    - save results as text file (target make file like brown corpus)

In [30]:
import re
import random
import pandas as pd

#  1:  Read a File Line by Line using for loop and list comprehension
## 1.0 : Vitulize data text using Pandas befor process

In [31]:
path = '/home/ngyongyossy/mohammad/Data/Hu_corpus/MFileSiplite/data/'
fname= 'split_18.txt'
df = pd.read_fwf(f'{path}Input/{fname}', header=None)
df.rename(columns={0: "text"}, inplace=True)
# del df[1] 
# del df[2]
# del df[3]
# del df[4]
# del df[5]
# del df[6]
df.head()

,text,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,"Aminek 160-as a csöve, az jó lehet.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Amit én javasolnék, az a Hit Line 67 cm széles...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ebben az esetben is a visszafojtott üzemmód je...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ha mindehhez a samottbélést lecseréljük kerámi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ezekkel a módosításokkal még mindig Taranis ár...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df.describe()

,text,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
count,4834750,175190,146712,144238,142222,118322,135866,133274,130629,129217,...,93422,92761,91823,89539,88349,86006,84861,84055,82946,82373
unique,3827781,172062,66423,37153,138404,134,86225,84903,12784,12801,...,2079,11128,87068,46920,85246,45686,10765,45079,2022,10528
top,Felhasználási feltételek,.,hogy,és,.,e,.,.,a,a,...,a,a,.,hogy,.,hogy,a,hogy,a,a
freq,8230,426,538,470,317,11423,293,299,1243,1149,...,3070,868,141,328,149,295,750,283,2710,745

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000001 entries, 0 to 5000000
Data columns (total 40 columns):
text    object
1       object
2       object
3       object
4       object
5       object
6       object
7       object
8       object
9       object
10      object
11      object
12      object
13      object
14      object
15      object
16      object
17      object
18      object
19      object
20      object
21      object
22      object
23      object
24      object
25      object
26      object
27      object
28      object
29      object
30      object
31      object
32      object
33      object
34      object
35      object
36      object
37      object
38      object
39      object
dtypes: object(40)
memory usage: 1.5+ GB

In [34]:
df['text'][0]

'Aminek 160-as a csöve, az jó lehet.'

In [35]:
# removing the new line characters
with open(f'{path}Input/{fname}', 'r', encoding='utf-8') as f:
    lines = [line.rstrip() for line in f]
print(lines[0]) 
# [str1,str2,....., str_n]

Aminek 160-as a csöve, az jó lehet.

In [36]:
lines[-1]

'játék kisk...'

# 1.1 : Normlization

In [37]:
def normlized_text(line):
    result1 = re.sub(r'[ ► (  )  •  ©  @  …  ~  😀  >  <  `  !  _ { } + * ]', ' ', line)
#     Q: url (remove word after ??!!) not matter if you remove it 
    return re.sub(r'https?://\S+', '', result1)
# str ---> str

In [38]:
words_lists = []
def sents_to_words(line):
        normlized_line = normlized_text(line)
#         print(normlized_line)
        words = normlized_line.split()
        words_lists.append(words)
#         return ()
# line: str --> words[]:list
# words_lists[words1['w1','w2',....,'w_n'],words2['w1','w2',....,'w_n'],words3['w1','w2',....,'w_n'] ....words_n['w1','w2',....,'w_n']]

In [39]:
# print(sents_to_words('Az iskolai erإ‘szakrأ³l https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/ nyilatkozأ³knak csak a fele أ©rzi, hogy gyermeke biztonsأ،gban van az iskolأ،ban.')) # ,lines[-1])
# test 
# sents_to_words(lines[-1])

In [40]:
# call fun to normlize & convert to words lists 
for line in lines:
    normlized_line = sents_to_words(line)

In [41]:
a = len(words_lists) , # see the length befor removing empty lines 
a

(5000001,)

In [42]:
# Remove empty list if exists caused by empty line e.g : [[1, 2], [1], [], [1, 2, 3, 4]] ==> [[1, 2], [1], [1, 2, 3, 4]]
words_lists = [x for x in words_lists if x]
b = len(words_lists)  # see the length after removing empty lines 
b

4834750

In [43]:
print('Removed Empty Lines : ', a[0]-b)

Removed Empty Lines :  165251

# 1.2 : Issue removing word after url if  there is no space after

In [44]:
# test normlize function with Hu
print(normlized_text('Belfأ¶ld - https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/Magyarorszأ،g hأ\xadrei > Elأ©gedetlenek az emberek a kأ¶zoktatأ،ssal?'))

Belfأ¶ld -  hأ­rei   Elأ gedetlenek az emberek a kأ¶zoktatأ،ssal?

In [45]:
# test normlize function with En
print(normlized_text('https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/The Fulton County Grand Jury said Friday an investigation of Atlanta\'s recent primary election produced "no evidence" that any irregularities took place.'))

 Fulton County Grand Jury said Friday an investigation of Atlanta's recent primary election produced "no evidence" that any irregularities took place.

In [46]:
# words_lists[words1[W1,W2,....,W_n],words2 [W1,W2,....,W_n],...,words_n[W1,W2,....,W_n]]   : test one elment from word list 
for words in words_lists[0]:
    print(words)

Aminek
160-as
a
csöve,
az
jó
lehet.

In [47]:
# from   [words1[W1,W2,....,W_n],words2 [W1,W2,....,W_n],...,words_n[W1,W2,....,W_n]]
# to     flat_list[W1,W2,....,W_n]

In [48]:
# Her we have one list contians all words 
# if you have limited memoey you have to find a way like sipliting to chunk (in case local machine with 8GB there is limitation only with 1 milleion )
# flat_list_chunk1 = [word for sublist in words_lists[:1000000] for word in sublist]
# flat_list_chunk2 = [word for sublist in words_lists[1000000:2000000] for word in sublist]
# flat_list_chunk3 = [word for sublist in words_lists[2000000:3000000] for word in sublist]
# flat_list_chunk4 = [word for sublist in words_lists[3000000:4000000] for word in sublist]
# flat_list_chunk5 = [word for sublist in words_lists[2000000:3000000] for word in sublist]
# CONCATENATE THEM
# flat_list = flat_list_chunk1 + flat_list_chunk2 + flat_list_chunk3 + flat_list_chunk4 +flat_list_chunk5
flat_list = [word for sublist in words_lists for word in sublist]

In [49]:
flat_list[-1]

'kisk...'

# 2: Break a words of list into chunks of size N using List comprehension

flat_list[W1,W2,....,W_n]  -->  final[[w1,w2,...,w10 or w11],[w12,..., w20],   [...]]

In [50]:
# We choose random length for line 
n = random.randint(8, 9)
print('The length of resulting lines ',n)
# using list comprehension
# final = [flat_list[i * n:(i + 1) * n] for i in range((len(flat_list) + n - 1) // n )]
final = [flat_list[i:i + n] for i in range(0, len(flat_list), n)]     # alternative  to line above 
print (final[-2])

The length of resulting lines  9
['okos', 'vásár...', 'kiadvány', 's...', 'weboldal', 'e...', 'egyéni', 'uta...', 'könnyebb']

# 2.1 : Save results to txt file

In [51]:
print('The Expacted number of liens ',len(final))
with open(f'{path}out/out_{fname}','w' ,encoding='utf-8') as file:
    for items in final:
        for item in items:        
            file.write(f"{item} ")
        file.write("\n")
file.close()

The Expacted number of liens  12030330

# 2.2 : Vitulize text file after processing

In [52]:
# path = 'out_split_1.txt'
df = pd.read_fwf(f'{path}out/out_{fname}', header=None)
df.rename(columns={0: "text"}, inplace=True)
# del df[1] 
# del df[2]
# del df[3]
# del df[4]
# del df[5]
# del df[6]
# del df[7]
# del df[8]
# del df[9]
# del df[10]
df.head()

                                                text    1
0        Aminek 160-as a csöve, az jó lehet. Amit én  NaN
1         javasolnék, az a Hit Line 67 cm széles, 44  NaN
2  cm magas, de dupla üveges változata. A dupla üveg  NaN
3  mindenképpen fontos lenne, mert lényegesen csö...  NaN
4  mennyiségét a nappaliban, illetve ugyanennyive...  NaN

In [53]:
df.describe()

                     text      1
count            12030330  84719
unique           11550664    124
top     E G Y Z Ő K Ö N Y      e
freq                  528   6988

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12030330 entries, 0 to 12030329
Data columns (total 2 columns):
text    object
1       object
dtypes: object(2)
memory usage: 183.6+ MB

In [55]:
df['text'] [0]

'Aminek 160-as a csöve, az jó lehet. Amit én'

In [56]:
# with open('newnewnew.txt' ,encoding='utf-8') as f:
#     lines = [line for line in f]
# print(len(lines),'\n')
# # removing the new line characters
# with open('out_split_1.txt.txt' ,encoding='utf-8') as f:
#     lines = [line.rstrip() for line in f]
# print(lines)