In this Notebook we have input text file(Hungarain Corpus) with  long length for lines, what we do:
    - read this text line by line and do normlization for it and then break lines by spesfic length 
    - save results as text file (target make file like brown corpus)

In [3]:
import re
import random
import pandas as pd

#  1:  Read a File Line by Line using for loop and list comprehension
## 1.0 : Vitulize data text using Pandas befor process

In [4]:
path = '/home/ngyongyossy/mohammad/Data/Hu_corpus/MFileSiplite/data/'
fname= 'split_17.txt'
df = pd.read_fwf(f'{path}Input/{fname}', header=None)
df.rename(columns={0: "text"}, inplace=True)
# del df[1] 
# del df[2]
# del df[3]
# del df[4]
# del df[5]
# del df[6]
df.head()

,text,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,Egy p√°ly√°z√≥ csak egy p√°lyam≈±vet ny√∫jthat be.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Eredm√©nyhirdet√©s 2018 febru√°rj√°ban, a Sz√©p√≠r√≥k...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Forr√°s: http://szepiroktarsasaga.hu/index.php?...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Hallasd a hangod! ‚Äì Felolvas√≥ p√°ly√°zat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A Trivium Egyes√ºlet Hallasd a hangod! c√≠mmel f...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.describe()

,text,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
count,4830960,120464,113151,68388,66821,65741,64724,64065,63302,61958,...,50784,50465,49931,49594,42729,49045,48784,48073,47175,46507
unique,3795864,118834,111775,66370,59537,54384,36794,46545,61383,59318,...,8388,37969,19528,29974,109,8300,46952,47471,44448,46179
top,Felhaszn√°l√°si felt√©telek,.,.,.,.,", hogy",hogy,hogy,.,.,...,a,", hogy",az,hogy,e,a,.,.,.,.
freq,7782,245,214,93,75,103,199,116,90,71,...,471,93,150,177,4075,430,43,46,50,44

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000001 entries, 0 to 5000000
Data columns (total 34 columns):
text    object
1       object
2       object
3       object
4       object
5       object
6       object
7       object
8       object
9       object
10      object
11      object
12      object
13      object
14      object
15      object
16      object
17      object
18      object
19      object
20      object
21      object
22      object
23      object
24      object
25      object
26      object
27      object
28      object
29      object
30      object
31      object
32      object
33      object
dtypes: object(34)
memory usage: 1.3+ GB

In [7]:
df['text'][0]

'Egy p√°ly√°z√≥ csak egy p√°lyam≈±vet ny√∫jthat be.'

In [8]:
# removing the new line characters
with open(f'{path}Input/{fname}', 'r', encoding='utf-8') as f:
    lines = [line.rstrip() for line in f]
print(lines[0]) 
# [str1,str2,....., str_n]

Egy p√°ly√°z√≥ csak egy p√°lyam≈±vet ny√∫jthat be.

In [9]:
lines[-1]

'K√∂szi, v√°rom a v√°laszt!'

# 1.1 : Normlization

In [10]:
def normlized_text(line):
    result1 = re.sub(r'[ ‚ñ∫ (  )  ‚Ä¢  ¬©  @  ‚Ä¶  ~  üòÄ  >  <  `  !  _ { } + * ]', ' ', line)
#     Q: url (remove word after ??!!) not matter if you remove it 
    return re.sub(r'https?://\S+', '', result1)
# str ---> str

In [11]:
words_lists = []
def sents_to_words(line):
        normlized_line = normlized_text(line)
#         print(normlized_line)
        words = normlized_line.split()
        words_lists.append(words)
#         return ()
# line: str --> words[]:list
# words_lists[words1['w1','w2',....,'w_n'],words2['w1','w2',....,'w_n'],words3['w1','w2',....,'w_n'] ....words_n['w1','w2',....,'w_n']]

In [12]:
# print(sents_to_words('Az iskolai erÿ•‚Äòszakrÿ£¬≥l https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/ nyilatkozÿ£¬≥knak csak a fele ÿ£¬©rzi, hogy gyermeke biztonsÿ£ÿågban van az iskolÿ£ÿåban.')) # ,lines[-1])
# test 
# sents_to_words(lines[-1])

In [13]:
# call fun to normlize & convert to words lists 
for line in lines:
    normlized_line = sents_to_words(line)

In [14]:
a = len(words_lists) , # see the length befor removing empty lines 
a

(5000001,)

In [15]:
# Remove empty list if exists caused by empty line e.g : [[1, 2], [1], [], [1, 2, 3, 4]] ==> [[1, 2], [1], [1, 2, 3, 4]]
words_lists = [x for x in words_lists if x]
b = len(words_lists)  # see the length after removing empty lines 
b

4830960

In [16]:
print('Removed Empty Lines : ', a[0]-b)

Removed Empty Lines :  169041

# 1.2 : Issue removing word after url if  there is no space after

In [17]:
# test normlize function with Hu
print(normlized_text('Belfÿ£¬∂ld - https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/Magyarorszÿ£ÿåg hÿ£\xadrei > Elÿ£¬©gedetlenek az emberek a kÿ£¬∂zoktatÿ£ÿåssal?'))

Belfÿ£¬∂ld -  hÿ£¬≠rei   Elÿ£ gedetlenek az emberek a kÿ£¬∂zoktatÿ£ÿåssal?

In [18]:
# test normlize function with En
print(normlized_text('https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/The Fulton County Grand Jury said Friday an investigation of Atlanta\'s recent primary election produced "no evidence" that any irregularities took place.'))

 Fulton County Grand Jury said Friday an investigation of Atlanta's recent primary election produced "no evidence" that any irregularities took place.

In [19]:
# words_lists[words1[W1,W2,....,W_n],words2 [W1,W2,....,W_n],...,words_n[W1,W2,....,W_n]]   : test one elment from word list 
for words in words_lists[0]:
    print(words)

Egy
p√°ly√°z√≥
csak
egy
p√°lyam≈±vet
ny√∫jthat
be.

In [20]:
# from   [words1[W1,W2,....,W_n],words2 [W1,W2,....,W_n],...,words_n[W1,W2,....,W_n]]
# to     flat_list[W1,W2,....,W_n]

In [21]:
# Her we have one list contians all words 
# if you have limited memoey you have to find a way like sipliting to chunk (in case local machine with 8GB there is limitation only with 1 milleion )
# flat_list_chunk1 = [word for sublist in words_lists[:1000000] for word in sublist]
# flat_list_chunk2 = [word for sublist in words_lists[1000000:2000000] for word in sublist]
# flat_list_chunk3 = [word for sublist in words_lists[2000000:3000000] for word in sublist]
# flat_list_chunk4 = [word for sublist in words_lists[3000000:4000000] for word in sublist]
# flat_list_chunk5 = [word for sublist in words_lists[2000000:3000000] for word in sublist]
# CONCATENATE THEM
# flat_list = flat_list_chunk1 + flat_list_chunk2 + flat_list_chunk3 + flat_list_chunk4 +flat_list_chunk5
flat_list = [word for sublist in words_lists for word in sublist]

In [22]:
flat_list[-1]

'v√°laszt'

# 2: Break a words of list into chunks of size N using List comprehension

flat_list[W1,W2,....,W_n]  -->  final[[w1,w2,...,w10 or w11],[w12,..., w20],   [...]]

In [23]:
# We choose random length for line 
n = random.randint(8, 9)
print('The length of resulting lines ',n)
# using list comprehension
# final = [flat_list[i * n:(i + 1) * n] for i in range((len(flat_list) + n - 1) // n )]
final = [flat_list[i:i + n] for i in range(0, len(flat_list), n)]     # alternative  to line above 
print (final[-2])

The length of resulting lines  8
['dr√°g√°bb', '√≠gy', 'egy', 'k√©sz√ºl√©k,', 'mondjuk', 'amit', 'aj√°nlott√°l', 'lentebb']

# 2.1 : Save results to txt file

In [24]:
print('The Expacted number of liens ',len(final))
with open(f'{path}out/out_{fname}','w' ,encoding='utf-8') as file:
    for items in final:
        for item in items:        
            file.write(f"{item} ")
        file.write("\n")
file.close()

The Expacted number of liens  13572216

# 2.2 : Vitulize text file after processing

In [25]:
# path = 'out_split_1.txt'
df = pd.read_fwf(f'{path}out/out_{fname}', header=None)
df.rename(columns={0: "text"}, inplace=True)
# del df[1] 
# del df[2]
# del df[3]
# del df[4]
# del df[5]
# del df[6]
# del df[7]
# del df[8]
# del df[9]
# del df[10]
df.head()

                                                text    1
0  Egy p√°ly√°z√≥ csak egy p√°lyam≈±vet ny√∫jthat be. E...  NaN
1  2018 febru√°rj√°ban, a Sz√©p√≠r√≥k T√°rsas√°ga Arany-...  NaN
2  d√≠jazott p√°lyam≈±veket a 2000 fogja k√∂z√∂lni. Fo...  NaN
3  a hangod ‚Äì Felolvas√≥ p√°ly√°zat A Trivium Egyes√ºlet  NaN
4  Hallasd a hangod c√≠mmel felolvas√≥ p√°ly√°zatot h...  NaN

In [26]:
df.describe()

                   text       1
count          13572216  170677
unique         12926771   77197
top     G Y Z ≈ê K √ñ N Y       ,
freq                707    3040

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13572216 entries, 0 to 13572215
Data columns (total 2 columns):
text    object
1       object
dtypes: object(2)
memory usage: 207.1+ MB

In [28]:
df['text'] [0]

'Egy p√°ly√°z√≥ csak egy p√°lyam≈±vet ny√∫jthat be. Eredm√©nyhirdet√©s'

In [29]:
# with open('newnewnew.txt' ,encoding='utf-8') as f:
#     lines = [line for line in f]
# print(len(lines),'\n')
# # removing the new line characters
# with open('out_split_1.txt.txt' ,encoding='utf-8') as f:
#     lines = [line.rstrip() for line in f]
# print(lines)