In this Notebook we have input text file(Hungarain Corpus) with  long length for lines, what we do:
    - read this text line by line and do normlization for it and then break lines by spesfic length 
    - save results as text file (target make file like brown corpus)

In [1]:
import re
import random
import pandas as pd

#  1:  Read a File Line by Line using for loop and list comprehension
## 1.0 : Vitulize data text using Pandas befor process

In [2]:
path = '/home/ngyongyossy/mohammad/Data/Hu_corpus/MFileSiplite/data/'
df = pd.read_fwf(f'{path}Input/split_3.txt', header=None)
df.rename(columns={0: "text"}, inplace=True)
# del df[1] 
# del df[2]
# del df[3]
# del df[4]
# del df[5]
# del df[6]
df.head()

,text,1,2,3,4,5,6,7,8,9,...,61,62,63,64,65,66,67,68,69,70
0,Majd j√∂het a marad√©k gy√ºmi (aty√°m m√©g ezt a sz...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A s√ºti megkoron√°z√°sak√©nt tegy√ºk r√° a befejez≈ë ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Az √≠zvil√°gomnak pont megfelel≈ë lett. Nem lett ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"C√≠mk√©k: a f≈ëz√©s √∂r√∂mei, nasi, √∫j recept",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A v√°rosi k√∂nyvt√°rban hosszas v√°logat√°s ut√°n si...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.describe()

,text,1,2,3,4,5,6,7,8,9,...,61,62,63,64,65,66,67,68,69,70
count,4887916,36839,34158,32785,31385,26735,30627,30293,30072,29880,...,21545,21466,21328,21137,20945,20890,20758,20701,20461,20320
unique,3919497,36665,34006,32644,31258,109,29276,24421,20255,24072,...,5611,18110,20632,20426,1289,17647,1271,20443,18556,18397
top,Felhaszn√°l√°si felt√©telek,.,.,.,.,e,"egeszt√©s,",hogy,hogy,", hogy",...,a,hogy,.,valamint,a,hogy,a,.,hogy a,", hogy"
freq,6792,20,20,22,20,2627,16,40,93,46,...,188,24,12,13,688,29,715,8,24,27

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000001 entries, 0 to 5000000
Data columns (total 71 columns):
text    object
1       object
2       object
3       object
4       object
5       object
6       object
7       object
8       object
9       object
10      object
11      object
12      object
13      object
14      object
15      object
16      object
17      object
18      object
19      object
20      object
21      object
22      object
23      object
24      object
25      object
26      object
27      object
28      object
29      object
30      object
31      object
32      object
33      object
34      object
35      object
36      object
37      object
38      object
39      object
40      object
41      object
42      object
43      object
44      object
45      object
46      object
47      object
48      object
49      object
50      object
51      object
52      object
53      object
54      object
55      object
56      object
57      object
58      object
59      object
60      object
61      object
62      object
63      object
64      object
65      object
66      object
67      object
68      object
69      object
70      object
dtypes: object(71)
memory usage: 2.6+ GB

In [5]:
df['text'][0]

'Majd j√∂het a marad√©k gy√ºmi (aty√°m m√©g ezt a sz√≥t sem haszn√°ltam! Ezt is meg√©rt√ºk!) √©s persze fah√©j.'

In [6]:
# removing the new line characters
with open(f'{path}Input/split_3.txt', 'r', encoding='utf-8') as f:
    lines = [line.rstrip() for line in f]
print(lines[0]) 
# [str1,str2,....., str_n]

Majd j√∂het a marad√©k gy√ºmi (aty√°m m√©g ezt a sz√≥t sem haszn√°ltam! Ezt is meg√©rt√ºk!) √©s persze fah√©j.

In [7]:
lines[-1]

'K√∫ria mint fel√ºlvizsg√°lati b√≠r√≥s√°g Kfv.III / 2016 /7 sz√°m√∫ √≠t√©lete'

# 1.1 : Normlization

In [8]:
def normlized_text(line):
    result1 = re.sub(r'[ ‚ñ∫ (  )  ‚Ä¢  ¬©  @  ‚Ä¶  ~  üòÄ  >  <  `  !  _ { } + * ]', ' ', line)
#     Q: url (remove word after ??!!) not matter if you remove it 
    return re.sub(r'https?://\S+', '', result1)
# str ---> str

In [9]:
words_lists = []
def sents_to_words(line):
        normlized_line = normlized_text(line)
#         print(normlized_line)
        words = normlized_line.split()
        words_lists.append(words)
#         return ()
# line: str --> words[]:list
# words_lists[words1['w1','w2',....,'w_n'],words2['w1','w2',....,'w_n'],words3['w1','w2',....,'w_n'] ....words_n['w1','w2',....,'w_n']]

In [10]:
# print(sents_to_words('Az iskolai erÿ•‚Äòszakrÿ£¬≥l https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/ nyilatkozÿ£¬≥knak csak a fele ÿ£¬©rzi, hogy gyermeke biztonsÿ£ÿågban van az iskolÿ£ÿåban.')) # ,lines[-1])
# test 
# sents_to_words(lines[-1])

In [11]:
# call fun to normlize & convert to words lists 
for line in lines:
    normlized_line = sents_to_words(line)

In [12]:
a = len(words_lists) , # see the length befor removing empty lines 
a

(5000001,)

In [13]:
# Remove empty list if exists caused by empty line e.g : [[1, 2], [1], [], [1, 2, 3, 4]] ==> [[1, 2], [1], [1, 2, 3, 4]]
words_lists = [x for x in words_lists if x]
b = len(words_lists)  # see the length after removing empty lines 
b

4887916

In [14]:
print('Removed Empty Lines : ', a[0]-b)

Removed Empty Lines :  112085

# 1.2 : Issue removing word after url if  there is no space after

In [15]:
# test normlize function with Hu
print(normlized_text('Belfÿ£¬∂ld - https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/Magyarorszÿ£ÿåg hÿ£\xadrei > Elÿ£¬©gedetlenek az emberek a kÿ£¬∂zoktatÿ£ÿåssal?'))

Belfÿ£¬∂ld -  hÿ£¬≠rei   Elÿ£ gedetlenek az emberek a kÿ£¬∂zoktatÿ£ÿåssal?

In [16]:
# test normlize function with En
print(normlized_text('https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/The Fulton County Grand Jury said Friday an investigation of Atlanta\'s recent primary election produced "no evidence" that any irregularities took place.'))

 Fulton County Grand Jury said Friday an investigation of Atlanta's recent primary election produced "no evidence" that any irregularities took place.

In [17]:
# words_lists[words1[W1,W2,....,W_n],words2 [W1,W2,....,W_n],...,words_n[W1,W2,....,W_n]]   : test one elment from word list 
for words in words_lists[0]:
    print(words)

Majd
j√∂het
a
marad√©k
gy√ºmi
aty√°m
m√©g
ezt
a
sz√≥t
sem
haszn√°ltam
Ezt
is
meg√©rt√ºk
√©s
persze
fah√©j.

In [18]:
# from   [words1[W1,W2,....,W_n],words2 [W1,W2,....,W_n],...,words_n[W1,W2,....,W_n]]
# to     flat_list[W1,W2,....,W_n]

In [19]:
# Her we have one list contians all words 
# if you have limited memoey you have to find a way like sipliting to chunk (in case local machine with 8GB there is limitation only with 1 milleion )
# flat_list_chunk1 = [word for sublist in words_lists[:1000000] for word in sublist]
# flat_list_chunk2 = [word for sublist in words_lists[1000000:2000000] for word in sublist]
# flat_list_chunk3 = [word for sublist in words_lists[2000000:3000000] for word in sublist]
# flat_list_chunk4 = [word for sublist in words_lists[3000000:4000000] for word in sublist]
# flat_list_chunk5 = [word for sublist in words_lists[2000000:3000000] for word in sublist]
# CONCATENATE THEM
# flat_list = flat_list_chunk1 + flat_list_chunk2 + flat_list_chunk3 + flat_list_chunk4 +flat_list_chunk5
flat_list = [word for sublist in words_lists for word in sublist]

In [20]:
flat_list[-1]

'√≠t√©lete'

# 2: Break a words of list into chunks of size N using List comprehension

flat_list[W1,W2,....,W_n]  -->  final[[w1,w2,...,w10 or w11],[w12,..., w20],   [...]]

In [21]:
# We choose random length for line 
n = random.randint(9, 10)
print('The length of resulting lines ',n)
# using list comprehension
# final = [flat_list[i * n:(i + 1) * n] for i in range((len(flat_list) + n - 1) // n )]
final = [flat_list[i:i + n] for i in range(0, len(flat_list), n)]     # alternative  to line above 
print (final[-2])

The length of resulting lines  9
['Mutat√°s', 'kezd≈ëdik', 'a', '...', 'oldalt√≥l:', '3', '√©vvel', 'ezel≈ëtt', 'K√∫ria']

# 2.1 : Save results to txt file

In [22]:
print('The Expacted number of liens ',len(final))
with open(f'{path}out/out_split_3.txt','w' ,encoding='utf-8') as file:
    for items in final:
        for item in items:        
            file.write(f"{item} ")
        file.write("\n")
file.close()

The Expacted number of liens  12260336

# 2.2 : Vitulize text file after processing

In [23]:
# path = 'out_split_1.txt'
df = pd.read_fwf(f'{path}out/out_split_3.txt', header=None)
df.rename(columns={0: "text"}, inplace=True)
# del df[1] 
# del df[2]
# del df[3]
# del df[4]
# del df[5]
# del df[6]
# del df[7]
# del df[8]
# del df[9]
# del df[10]
df.head()

                                                text
0         Majd j√∂het a marad√©k gy√ºmi aty√°m m√©g ezt a
1  sz√≥t sem haszn√°ltam Ezt is meg√©rt√ºk √©s persze ...
2  A s√ºti megkoron√°z√°sak√©nt tegy√ºk r√° a befejez≈ë ...
3  alak√∫ t√©szt√°t mondtam m√°r hogy k√∂r alak√∫ra kel...
4   . Sz√∫rk√°ljuk meg vill√°val t√∂bb helyen √©s a v√©g√©n

In [24]:
df.describe()

                                                     text
count                                            12260336
unique                                           11792090
top     szolg√°ltat√°s technikai √ºzemeltet≈ëje semmilyen ...
freq                                                  541

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12260336 entries, 0 to 12260335
Data columns (total 1 columns):
text    object
dtypes: object(1)
memory usage: 93.5+ MB

In [26]:
df['text'] [0]

'Majd j√∂het a marad√©k gy√ºmi aty√°m m√©g ezt a'

In [27]:
# with open('newnewnew.txt' ,encoding='utf-8') as f:
#     lines = [line for line in f]
# print(len(lines),'\n')
# # removing the new line characters
# with open('out_split_1.txt.txt' ,encoding='utf-8') as f:
#     lines = [line.rstrip() for line in f]
# print(lines)