In this Notebook we have input text file(Hungarain Corpus) with  long length for lines, what we do:
    - read this text line by line and do normlization for it and then break lines by spesfic length 
    - save results as text file (target make file like brown corpus)

In [1]:
import re
import random
import pandas as pd

#  1:  Read a File Line by Line using for loop and list comprehension
## 1.0 : Vitulize data text using Pandas befor process

In [2]:
path = '/home/ngyongyossy/mohammad/Data/Hu_corpus/MFileSiplite/data/'
df = pd.read_fwf(f'{path}Input/split_11.txt', header=None)
df.rename(columns={0: "text"}, inplace=True)
# del df[1] 
# del df[2]
# del df[3]
# del df[4]
# del df[5]
# del df[6]
df.head()

,text,1,2,3,4,5,6,7
0,1 Kunszentmikl√≥s V√°ros √ñnkorm√°nyzata K√©pvisel≈ë...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P√ÅLY√ÅZAT. T√°mogat√°s szakmai ir√°nya. Megval√≥s√≠t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P√ÅLY√ÅZAT Program neve T√°mogat√°s szakmai ir√°nya...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bead√°si hat√°rid≈ë A p√°ly√°zat beny√∫jt√°s√°ra 2015....,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,B√©rkompenz√°ci√≥ p√°ly√°zat nyomtatv√°ny 2012 - NGM...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.describe()

,text,1,2,3,4,5,6,7
count,4848251,767480,757047,730009,706791,690601,678009,666341
unique,3850013,3998,420390,299426,86721,25012,24856,519105
top,Felhaszn√°l√°si felt√©telek,a,√°l√°si f,lt√©tel,kben,√©s,a,atv√©delmi
freq,7407,26058,3428,3461,3548,8105,6438,3271

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000001 entries, 0 to 5000000
Data columns (total 8 columns):
text    object
1       object
2       object
3       object
4       object
5       object
6       object
7       object
dtypes: object(8)
memory usage: 305.2+ MB

In [5]:
df['text'][0]

'1 Kunszentmikl√≥s V√°ros √ñnkorm√°nyzata K√©pvisel≈ë-test√ºlet√©nek 34/2013. (XII.19.) √∂nkorm√°nyzati rendelete a helyi ipar≈±z√©si ad√≥r√≥l Kihirdetve: 2013. december 19. Kif√ºggesztve: 2013. december 19-2014. janu√°r'

In [6]:
# removing the new line characters
with open(f'{path}Input/split_11.txt', 'r', encoding='utf-8') as f:
    lines = [line.rstrip() for line in f]
print(lines[0]) 
# [str1,str2,....., str_n]

1 Kunszentmikl√≥s V√°ros √ñnkorm√°nyzata K√©pvisel≈ë-test√ºlet√©nek 34/2013. (XII.19.) √∂nkorm√°nyzati rendelete a helyi ipar≈±z√©si ad√≥r√≥l Kihirdetve: 2013. december 19. Kif√ºggesztve: 2013. december 19-2014. janu√°r

In [7]:
lines[-1]

'‚Äú... √©n Pet≈ëfin√©l t√∂bb magyar verset √≠rtam. Internacion√°lis voltom mellett b√ºszk√©n mutatok k√∂teteimre: √©nn√°lam magyarabb, fajibb √©s term√©szetesen magyarabb po√©ta -- hiszem -- nem volt.‚Äù [√öjs√°g, Kolozsv√°r, 1916. janu√°r 20]'

# 1.1 : Normlization

In [8]:
def normlized_text(line):
    result1 = re.sub(r'[ ‚ñ∫ (  )  ‚Ä¢  ¬©  @  ‚Ä¶  ~  üòÄ  >  <  `  !  _ { } + * ]', ' ', line)
#     Q: url (remove word after ??!!) not matter if you remove it 
    return re.sub(r'https?://\S+', '', result1)
# str ---> str

In [9]:
words_lists = []
def sents_to_words(line):
        normlized_line = normlized_text(line)
#         print(normlized_line)
        words = normlized_line.split()
        words_lists.append(words)
#         return ()
# line: str --> words[]:list
# words_lists[words1['w1','w2',....,'w_n'],words2['w1','w2',....,'w_n'],words3['w1','w2',....,'w_n'] ....words_n['w1','w2',....,'w_n']]

In [10]:
# print(sents_to_words('Az iskolai erÿ•‚Äòszakrÿ£¬≥l https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/ nyilatkozÿ£¬≥knak csak a fele ÿ£¬©rzi, hogy gyermeke biztonsÿ£ÿågban van az iskolÿ£ÿåban.')) # ,lines[-1])
# test 
# sents_to_words(lines[-1])

In [11]:
# call fun to normlize & convert to words lists 
for line in lines:
    normlized_line = sents_to_words(line)

In [12]:
a = len(words_lists) , # see the length befor removing empty lines 
a

(5000001,)

In [13]:
# Remove empty list if exists caused by empty line e.g : [[1, 2], [1], [], [1, 2, 3, 4]] ==> [[1, 2], [1], [1, 2, 3, 4]]
words_lists = [x for x in words_lists if x]
b = len(words_lists)  # see the length after removing empty lines 
b

4848251

In [14]:
print('Removed Empty Lines : ', a[0]-b)

Removed Empty Lines :  151750

# 1.2 : Issue removing word after url if  there is no space after

In [15]:
# test normlize function with Hu
print(normlized_text('Belfÿ£¬∂ld - https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/Magyarorszÿ£ÿåg hÿ£\xadrei > Elÿ£¬©gedetlenek az emberek a kÿ£¬∂zoktatÿ£ÿåssal?'))

Belfÿ£¬∂ld -  hÿ£¬≠rei   Elÿ£ gedetlenek az emberek a kÿ£¬∂zoktatÿ£ÿåssal?

In [16]:
# test normlize function with En
print(normlized_text('https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/The Fulton County Grand Jury said Friday an investigation of Atlanta\'s recent primary election produced "no evidence" that any irregularities took place.'))

 Fulton County Grand Jury said Friday an investigation of Atlanta's recent primary election produced "no evidence" that any irregularities took place.

In [17]:
# words_lists[words1[W1,W2,....,W_n],words2 [W1,W2,....,W_n],...,words_n[W1,W2,....,W_n]]   : test one elment from word list 
for words in words_lists[0]:
    print(words)

1
Kunszentmikl√≥s
V√°ros
√ñnkorm√°nyzata
K√©pvisel≈ë-test√ºlet√©nek
34/2013.
XII.19.
√∂nkorm√°nyzati
rendelete
a
helyi
ipar≈±z√©si
ad√≥r√≥l
Kihirdetve:
2013.
december
19.
Kif√ºggesztve:
2013.
december
19-2014.
janu√°r

In [18]:
# from   [words1[W1,W2,....,W_n],words2 [W1,W2,....,W_n],...,words_n[W1,W2,....,W_n]]
# to     flat_list[W1,W2,....,W_n]

In [19]:
# Her we have one list contians all words 
# if you have limited memoey you have to find a way like sipliting to chunk (in case local machine with 8GB there is limitation only with 1 milleion )
# flat_list_chunk1 = [word for sublist in words_lists[:1000000] for word in sublist]
# flat_list_chunk2 = [word for sublist in words_lists[1000000:2000000] for word in sublist]
# flat_list_chunk3 = [word for sublist in words_lists[2000000:3000000] for word in sublist]
# flat_list_chunk4 = [word for sublist in words_lists[3000000:4000000] for word in sublist]
# flat_list_chunk5 = [word for sublist in words_lists[2000000:3000000] for word in sublist]
# CONCATENATE THEM
# flat_list = flat_list_chunk1 + flat_list_chunk2 + flat_list_chunk3 + flat_list_chunk4 +flat_list_chunk5
flat_list = [word for sublist in words_lists for word in sublist]

In [20]:
flat_list[-1]

'20]'

# 2: Break a words of list into chunks of size N using List comprehension

flat_list[W1,W2,....,W_n]  -->  final[[w1,w2,...,w10 or w11],[w12,..., w20],   [...]]

In [21]:
# We choose random length for line 
n = random.randint(8, 9)
print('The length of resulting lines ',n)
# using list comprehension
# final = [flat_list[i * n:(i + 1) * n] for i in range((len(flat_list) + n - 1) // n )]
final = [flat_list[i:i + n] for i in range(0, len(flat_list), n)]     # alternative  to line above 
print (final[-2])

The length of resulting lines  8
['magyarabb', 'po√©ta', '--', 'hiszem', '--', 'nem', 'volt.‚Äù', '[√öjs√°g,']

# 2.1 : Save results to txt file

In [24]:
print('The Expacted number of liens ',len(final))
with open(f'{path}out/out_split_11.txt','w' ,encoding='utf-8') as file:
    for items in final:
        for item in items:        
            file.write(f"{item} ")
        file.write("\n")
file.close()

The Expacted number of liens  13627291

# 2.2 : Vitulize text file after processing

In [25]:
# path = 'out_split_1.txt'
df = pd.read_fwf(f'{path}out/out_split_11.txt', header=None)
df.rename(columns={0: "text"}, inplace=True)
# del df[1] 
# del df[2]
# del df[3]
# del df[4]
# del df[5]
# del df[6]
# del df[7]
# del df[8]
# del df[9]
# del df[10]
df.head()

In [ ]:
df.describe()

                       text
count              10919608
unique             10522981
top     J E G Y Z ≈ê K √ñ N Y
freq                    529

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10919608 entries, 0 to 10919607
Data columns (total 1 columns):
text    object
dtypes: object(1)
memory usage: 83.3+ MB

In [ ]:
df['text'] [0]

'A m√°sodik fokozatn√°l - a tiszt√≠t√≥ter√°pi√°n√°l - mindenki felismerheti √©s'

In [ ]:
# with open('newnewnew.txt' ,encoding='utf-8') as f:
#     lines = [line for line in f]
# print(len(lines),'\n')
# # removing the new line characters
# with open('out_split_1.txt.txt' ,encoding='utf-8') as f:
#     lines = [line.rstrip() for line in f]
# print(lines)