In this Notebook we have input text file(Hungarain Corpus) with  long length for lines, what we do:
    - read this text line by line and do normlization for it and then break lines by spesfic length 
    - save results as text file (target make file like brown corpus)

In [1]:
import re
import random
import pandas as pd

#  1:  Read a File Line by Line using for loop and list comprehension
## 1.0 : Vitulize data text using Pandas befor process

In [2]:
path = '/home/ngyongyossy/mohammad/Data/Hu_corpus/MFileSiplite/data/'
df = pd.read_fwf(f'{path}Input/split_1.txt', header=None)
df.rename(columns={0: "text"}, inplace=True)
del df[1] 
del df[2]
del df[3]
del df[4]
del df[5]
del df[6]
df.head()

,text,7,8,9,10,11,12,13,14,15,...,58,59,60,61,62,63,64,65,66,67
0,Elégedetlenek az emberek a közoktatással? _ Be...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Delmagyar.hu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,24 óra Szórakozás Sport Programok Állás Ingatlan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Hárommilliárdot költenek a ,,boldog békeidőket...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Öt órát dolgoztak a Szabadság úszóházon, mire…",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.describe()

,text,7,8,9,10,11,12,13,14,15,...,58,59,60,61,62,63,64,65,66,67
count,4858981,325047,318769,311325,305318,292842,280629,276344,268289,222670,...,90269,103784,102224,99570,98621,97949,95203,93671,80429,92149
unique,3900608,57507,110982,56176,273762,262823,17432,188056,242040,167,...,135,52570,96651,11433,2117,94329,65292,29116,141,84706
top,Felhasználási feltételek,egy,hogy,nem,.,.,a,.,.,e,...,e,hogy,.,a,a,.,.,az,e,.
freq,7876,1109,1298,1048,861,826,2682,753,759,21556,...,8663,396,184,901,3326,169,184,300,7690,175

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000001 entries, 0 to 5000000
Data columns (total 62 columns):
text    object
7       object
8       object
9       object
10      object
11      object
12      object
13      object
14      object
15      object
16      object
17      object
18      object
19      object
20      object
21      object
22      object
23      object
24      object
25      object
26      object
27      object
28      object
29      object
30      object
31      object
32      object
33      object
34      object
35      object
36      object
37      object
38      object
39      object
40      object
41      object
42      object
43      object
44      object
45      object
46      object
47      object
48      object
49      object
50      object
51      object
52      object
53      object
54      object
55      object
56      object
57      object
58      object
59      object
60      object
61      object
62      object
63      object
64      object
65      object
66      object
67      object
dtypes: object(62)
memory usage: 2.3+ GB

In [5]:
df['text'][0]

'Elégedetlenek az emberek a közoktatással? _ Belföld - Magyarország hírei _ Szeged - delmagyar.hu'

In [6]:
# removing the new line characters
with open(f'{path}Input/split_1.txt', 'r', encoding='utf-8') as f:
    lines = [line.rstrip() for line in f]
print(lines[0]) 
# [str1,str2,....., str_n]

Elégedetlenek az emberek a közoktatással? _ Belföld - Magyarország hírei _ Szeged - delmagyar.hu

In [7]:
lines[-1]

'3. sz. melléklet. A szolgáltató bankszámlaszáma: CIB Bank Zrt'

# 1.1 : Normlization

In [8]:
def normlized_text(line):
    result1 = re.sub(r'[ ► (  )  •  ©  @  …  ~  😀  >  <  `  !  _ { } + * ]', ' ', line)
#     Q: url (remove word after ??!!) not matter if you remove it 
    return re.sub(r'https?://\S+', '', result1)
# str ---> str

In [9]:
words_lists = []
def sents_to_words(line):
        normlized_line = normlized_text(line)
#         print(normlized_line)
        words = normlized_line.split()
        words_lists.append(words)
#         return ()
# line: str --> words[]:list
# words_lists[words1['w1','w2',....,'w_n'],words2['w1','w2',....,'w_n'],words3['w1','w2',....,'w_n'] ....words_n['w1','w2',....,'w_n']]

In [10]:
# print(sents_to_words('Az iskolai erإ‘szakrأ³l https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/ nyilatkozأ³knak csak a fele أ©rzi, hogy gyermeke biztonsأ،gban van az iskolأ،ban.')) # ,lines[-1])
# test 
# sents_to_words(lines[-1])

In [11]:
# call fun to normlize & convert to words lists 
for line in lines:
    normlized_line = sents_to_words(line)

In [12]:
a = len(words_lists) , # see the length befor removing empty lines 
a

(5000001,)

In [13]:
# Remove empty list if exists caused by empty line e.g : [[1, 2], [1], [], [1, 2, 3, 4]] ==> [[1, 2], [1], [1, 2, 3, 4]]
words_lists = [x for x in words_lists if x]
b = len(words_lists)  # see the length after removing empty lines 
b

4858981

In [18]:
print('Removed Empty Lines : ', a[0]-b)

Removed Empty Lines :  141020

# 1.2 : Issue removing word after url if  there is no space after

In [19]:
# test normlize function with Hu
print(normlized_text('Belfأ¶ld - https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/Magyarorszأ،g hأ\xadrei > Elأ©gedetlenek az emberek a kأ¶zoktatأ،ssal?'))

Belfأ¶ld -  hأ­rei   Elأ gedetlenek az emberek a kأ¶zoktatأ،ssal?

In [20]:
# test normlize function with En
print(normlized_text('https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/The Fulton County Grand Jury said Friday an investigation of Atlanta\'s recent primary election produced "no evidence" that any irregularities took place.'))

 Fulton County Grand Jury said Friday an investigation of Atlanta's recent primary election produced "no evidence" that any irregularities took place.

In [21]:
# words_lists[words1[W1,W2,....,W_n],words2 [W1,W2,....,W_n],...,words_n[W1,W2,....,W_n]]   : test one elment from word list 
for words in words_lists[0]:
    print(words)

Elégedetlenek
az
emberek
a
közoktatással?
Belföld
-
Magyarország
hírei
Szeged
-
delmagyar.hu

In [22]:
# from   [words1[W1,W2,....,W_n],words2 [W1,W2,....,W_n],...,words_n[W1,W2,....,W_n]]
# to     flat_list[W1,W2,....,W_n]

In [23]:
# Her we have one list contians all words 
# if you have limited memoey you have to find a way like sipliting to chunk (in case local machine with 8GB there is limitation only with 1 milleion )
# flat_list_chunk1 = [word for sublist in words_lists[:1000000] for word in sublist]
# flat_list_chunk2 = [word for sublist in words_lists[1000000:2000000] for word in sublist]
# flat_list_chunk3 = [word for sublist in words_lists[2000000:3000000] for word in sublist]
# flat_list_chunk4 = [word for sublist in words_lists[3000000:4000000] for word in sublist]
# flat_list_chunk5 = [word for sublist in words_lists[2000000:3000000] for word in sublist]
# CONCATENATE THEM
# flat_list = flat_list_chunk1 + flat_list_chunk2 + flat_list_chunk3 + flat_list_chunk4 +flat_list_chunk5
flat_list = [word for sublist in words_lists for word in sublist]

In [24]:
flat_list[-1]

'Zrt'

# 2: Break a words of list into chunks of size N using List comprehension

flat_list[W1,W2,....,W_n]  -->  final[[w1,w2,...,w10 or w11],[w12,..., w20],   [...]]

In [25]:
# We choose random length for line 
n = random.randint(9, 10)
print('The length of resulting lines ',n)
# using list comprehension
# final = [flat_list[i * n:(i + 1) * n] for i in range((len(flat_list) + n - 1) // n )]
final = [flat_list[i:i + n] for i in range(0, len(flat_list), n)]     # alternative  to line above 
print (final[-2])

The length of resulting lines  9
['Utolsó', 'módosítás:', '2008.', 'január', '15.', 'TARTALOMJEGYZÉK', 'TARTALOMJEGYZÉK...2', '3.', 'sz.']

# 2.1 : Save results to txt file

In [26]:
print('The Expacted number of liens ',len(final))
with open(f'{path}out/out_split_1.txt','w' ,encoding='utf-8') as file:
    for items in final:
        for item in items:        
            file.write(f"{item} ")
        file.write("\n")
file.close()

The Expacted number of liens  12134710

# 2.2 : Vitulize text file after processing

In [27]:
# path = 'out_split_1.txt'
df = pd.read_fwf(f'{path}out/out_split_1.txt', header=None)
df.rename(columns={0: "text"}, inplace=True)
# del df[1] 
# del df[2]
# del df[3]
# del df[4]
# del df[5]
# del df[6]
# del df[7]
# del df[8]
# del df[9]
# del df[10]
df.head()

                                                text
0  Elégedetlenek az emberek a közoktatással? Belf...
1  Szeged - delmagyar.hu Delmagyar.hu 24 óra Szór...
2  Állás Ingatlan Hárommilliárdot költenek a ,,bo...
3  órát dolgoztak a Szabadság úszóházon, mire Ill...
4  kis harangok, de csak közelről érezni - Madonn...

In [28]:
df.describe()

                                                     text
count                                            12134710
unique                                           11699572
top     semmilyen felelősséget nem vállal, azokat nem ...
freq                                                  447

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12134710 entries, 0 to 12134709
Data columns (total 1 columns):
text    object
dtypes: object(1)
memory usage: 92.6+ MB

In [30]:
df['text'] [0]

'Elégedetlenek az emberek a közoktatással? Belföld - Magyarország hírei'

In [ ]:
# with open('newnewnew.txt' ,encoding='utf-8') as f:
#     lines = [line for line in f]
# print(len(lines),'\n')
# # removing the new line characters
# with open('out_split_1.txt.txt' ,encoding='utf-8') as f:
#     lines = [line.rstrip() for line in f]
# print(lines)