In this Notebook we have input text file(Hungarain Corpus) with  long length for lines, what we do:
    - read this text line by line and do normlization for it and then break lines by spesfic length 
    - save results as text file (target make file like brown corpus)

In [30]:
import re
import random
import pandas as pd

#  1:  Read a File Line by Line using for loop and list comprehension
## 1.0 : Vitulize data text using Pandas befor process

In [31]:
path = '/home/ngyongyossy/mohammad/Data/Hu_corpus/MFileSiplite/data/'
df = pd.read_fwf(f'{path}Input/split_12.txt', header=None)
df.rename(columns={0: "text"}, inplace=True)
# del df[1] 
# del df[2]
# del df[3]
# del df[4]
# del df[5]
# del df[6]
df.head()

                                                text    1    2    3    4
0  (Alaposabban tanulm√°nyozva Ady √©let√©t, egy meg...  NaN  NaN  NaN  NaN
1  ‚ÄûAdy ‚Äì ez tagadhatatlan ‚Äì els≈ësorban, mint pol...  NaN  NaN  NaN  NaN
2  Ady pr√≥z√°ja csak a h√≠rlapi vit√°ban melegszik f...  NaN  NaN  NaN  NaN
3  Hallom a v√°dat, hogy kip√©c√©zett id√©zetekkel b√°...  NaN  NaN  NaN  NaN
4  Kev√©s k√∂lt≈ë hagyott maga ut√°n annyi selejtest,...  NaN  NaN  NaN  NaN

In [32]:
df.describe()

                            text       1      2      3      4
count                    4837215   29785  29601  29533  29396
unique                   3797699   24093   1395  19982  23873
top     Felhaszn√°l√°si felt√©telek  , hogy      a   hogy   hogy
freq                        6736      45    950     83     37

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000001 entries, 0 to 5000000
Data columns (total 5 columns):
text    object
1       object
2       object
3       object
4       object
dtypes: object(5)
memory usage: 190.7+ MB

In [34]:
df['text'][0]

'(Alaposabban tanulm√°nyozva Ady √©let√©t, egy meglehet≈ësen √∂sszezavarodott egy√©nis√©g jelenik meg el≈ëtt√ºnk. ‚Äì tj )'

In [35]:
# removing the new line characters
with open(f'{path}Input/split_12.txt', 'r', encoding='utf-8') as f:
    lines = [line.rstrip() for line in f]
print(lines[0]) 
# [str1,str2,....., str_n]

(Alaposabban tanulm√°nyozva Ady √©let√©t, egy meglehet≈ësen √∂sszezavarodott egy√©nis√©g jelenik meg el≈ëtt√ºnk. ‚Äì tj )

In [36]:
lines[-1]

'Az al√°bbiakban olvashatj√°k Guly√°s Gergelynek, a Fidesz aleln√∂k√©nek besz√©d√©t, amelyet dr. Don√°th Gy√∂rgy szobr√°nak avat√°s√°n mondott volna el. A k√©pvisel≈ët az 1919-es √©s 1945 ut√°ni s√∂pred√©k ut√≥dai megakad√°lyozt√°k a besz√©d elmond√°s√°ban, √©s megakad√°lyozt√°k, hogy a szobrot felavass√°k. Ez a s√∂pred√©k, ha tehetn√©, ma is √∂lne. √âpp oly` k√©jesen, mint el≈ëdeik tett√©k...'

# 1.1 : Normlization

In [37]:
def normlized_text(line):
    result1 = re.sub(r'[ ‚ñ∫ (  )  ‚Ä¢  ¬©  @  ‚Ä¶  ~  üòÄ  >  <  `  !  _ { } + * ]', ' ', line)
#     Q: url (remove word after ??!!) not matter if you remove it 
    return re.sub(r'https?://\S+', '', result1)
# str ---> str

In [38]:
words_lists = []
def sents_to_words(line):
        normlized_line = normlized_text(line)
#         print(normlized_line)
        words = normlized_line.split()
        words_lists.append(words)
#         return ()
# line: str --> words[]:list
# words_lists[words1['w1','w2',....,'w_n'],words2['w1','w2',....,'w_n'],words3['w1','w2',....,'w_n'] ....words_n['w1','w2',....,'w_n']]

In [39]:
# print(sents_to_words('Az iskolai erÿ•‚Äòszakrÿ£¬≥l https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/ nyilatkozÿ£¬≥knak csak a fele ÿ£¬©rzi, hogy gyermeke biztonsÿ£ÿågban van az iskolÿ£ÿåban.')) # ,lines[-1])
# test 
# sents_to_words(lines[-1])

In [40]:
# call fun to normlize & convert to words lists 
for line in lines:
    normlized_line = sents_to_words(line)

In [41]:
a = len(words_lists) , # see the length befor removing empty lines 
a

(5000001,)

In [42]:
# Remove empty list if exists caused by empty line e.g : [[1, 2], [1], [], [1, 2, 3, 4]] ==> [[1, 2], [1], [1, 2, 3, 4]]
words_lists = [x for x in words_lists if x]
b = len(words_lists)  # see the length after removing empty lines 
b

4837215

In [43]:
print('Removed Empty Lines : ', a[0]-b)

Removed Empty Lines :  162786

# 1.2 : Issue removing word after url if  there is no space after

In [44]:
# test normlize function with Hu
print(normlized_text('Belfÿ£¬∂ld - https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/Magyarorszÿ£ÿåg hÿ£\xadrei > Elÿ£¬©gedetlenek az emberek a kÿ£¬∂zoktatÿ£ÿåssal?'))

Belfÿ£¬∂ld -  hÿ£¬≠rei   Elÿ£ gedetlenek az emberek a kÿ£¬∂zoktatÿ£ÿåssal?

In [45]:
# test normlize function with En
print(normlized_text('https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/The Fulton County Grand Jury said Friday an investigation of Atlanta\'s recent primary election produced "no evidence" that any irregularities took place.'))

 Fulton County Grand Jury said Friday an investigation of Atlanta's recent primary election produced "no evidence" that any irregularities took place.

In [46]:
# words_lists[words1[W1,W2,....,W_n],words2 [W1,W2,....,W_n],...,words_n[W1,W2,....,W_n]]   : test one elment from word list 
for words in words_lists[0]:
    print(words)

Alaposabban
tanulm√°nyozva
Ady
√©let√©t,
egy
meglehet≈ësen
√∂sszezavarodott
egy√©nis√©g
jelenik
meg
el≈ëtt√ºnk.
‚Äì
tj

In [47]:
# from   [words1[W1,W2,....,W_n],words2 [W1,W2,....,W_n],...,words_n[W1,W2,....,W_n]]
# to     flat_list[W1,W2,....,W_n]

In [48]:
# Her we have one list contians all words 
# if you have limited memoey you have to find a way like sipliting to chunk (in case local machine with 8GB there is limitation only with 1 milleion )
# flat_list_chunk1 = [word for sublist in words_lists[:1000000] for word in sublist]
# flat_list_chunk2 = [word for sublist in words_lists[1000000:2000000] for word in sublist]
# flat_list_chunk3 = [word for sublist in words_lists[2000000:3000000] for word in sublist]
# flat_list_chunk4 = [word for sublist in words_lists[3000000:4000000] for word in sublist]
# flat_list_chunk5 = [word for sublist in words_lists[2000000:3000000] for word in sublist]
# CONCATENATE THEM
# flat_list = flat_list_chunk1 + flat_list_chunk2 + flat_list_chunk3 + flat_list_chunk4 +flat_list_chunk5
flat_list = [word for sublist in words_lists for word in sublist]

In [49]:
flat_list[-1]

'tett√©k...'

# 2: Break a words of list into chunks of size N using List comprehension

flat_list[W1,W2,....,W_n]  -->  final[[w1,w2,...,w10 or w11],[w12,..., w20],   [...]]

In [50]:
# We choose random length for line 
n = random.randint(8, 9)
print('The length of resulting lines ',n)
# using list comprehension
# final = [flat_list[i * n:(i + 1) * n] for i in range((len(flat_list) + n - 1) // n )]
final = [flat_list[i:i + n] for i in range(0, len(flat_list), n)]     # alternative  to line above 
print (final[-2])

The length of resulting lines  9
['ha', 'tehetn√©,', 'ma', 'is', '√∂lne.', '√âpp', 'oly', 'k√©jesen,', 'mint']

# 2.1 : Save results to txt file

In [51]:
print('The Expacted number of liens ',len(final))
with open(f'{path}out/out_split_12.txt','w' ,encoding='utf-8') as file:
    for items in final:
        for item in items:        
            file.write(f"{item} ")
        file.write("\n")
file.close()

The Expacted number of liens  12177783

# 2.2 : Vitulize text file after processing

In [52]:
# path = 'out_split_1.txt'
df = pd.read_fwf(f'{path}out/out_split_12.txt', header=None)
df.rename(columns={0: "text"}, inplace=True)
# del df[1] 
# del df[2]
# del df[3]
# del df[4]
# del df[5]
# del df[6]
# del df[7]
# del df[8]
# del df[9]
# del df[10]
df.head()

                                                text
0  Alaposabban tanulm√°nyozva Ady √©let√©t, egy megl...
1       meg el≈ëtt√ºnk. ‚Äì tj ‚ÄûAdy ‚Äì ez tagadhatatlan ‚Äì
2  els≈ësorban, mint politikai k√∂lt≈ë h√≠res, emlege...
3  t√°madhat√≥ leger≈ësebben. Az √≠r√°studatlanok, aki...
4  √©letk√∂r√ºlm√©nyei √©s a t√©m√°i szerint √≠t√©lnek meg...

In [53]:
df.describe()

                     text
count            12177783
unique           11639212
top     J E G Y Z ≈ê K √ñ N
freq                  584

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12177783 entries, 0 to 12177782
Data columns (total 1 columns):
text    object
dtypes: object(1)
memory usage: 92.9+ MB

In [55]:
df['text'] [0]

'Alaposabban tanulm√°nyozva Ady √©let√©t, egy meglehet≈ësen √∂sszezavarodott egy√©nis√©g jelenik'

In [56]:
# with open('newnewnew.txt' ,encoding='utf-8') as f:
#     lines = [line for line in f]
# print(len(lines),'\n')
# # removing the new line characters
# with open('out_split_1.txt.txt' ,encoding='utf-8') as f:
#     lines = [line.rstrip() for line in f]
# print(lines)